<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-2 sidebar white">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/guitars">List all Guitar</a></li>
        <li><%= link_to "Add New Guitar", new_guitar_path %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/purchase_orders">List all Purchase Order</a></li>
        <li><%= link_to "New Purchase", new_purchase_order_path %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/customers">List all Customer</a></li>
        <li><%= link_to "Add Customer", new_customer_path %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/dealers">List all Dealer</a></li>
        <li><a href="#">Add New Dealer</a></li>
      </ul>
    </div>

    <div class="col-md-9 main white">
      <p id="notice"><%= notice %></p>

      <h1><small>Listing Purchase Orders</small></h1>

        <table class="table">
          <thead>
            <tr class="active">
              <th>Order ID</th>
              <th>Guiter Name</th>
              <th>Suppliers</th>
              <th colspan="3">Action</th>
            </tr>
          </thead>

          <tbody>
            <% @purchase_orders.each do |purchase_order| %>
              <tr>
                <td><%= purchase_order.id %></td>
                <td><%= purchase_order.GuitarName %></td>
                <td><%= purchase_order.SupplierName %></td>
                <td><%= link_to 'Show', purchase_order, :class => "btn btn-default" %></td>
                <td><%= link_to 'Edit', edit_purchase_order_path(purchase_order), :class => "btn btn-default" %></td>
                <td><%= link_to 'Destroy', purchase_order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Purchase order', new_purchase_order_path %>

    </div>
  </div>
</div>