<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-2 sidebar white">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/guitars">List all Guitar</a></li>
        <li><%= link_to "Add New Guitar", new_guitar_path %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/purchase_orders">List all Purchase Order</a></li>
        <li><%= link_to "New Purchase", new_purchase_order_path %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/customers">List all Customer</a></li>
        <li><%= link_to "Add Customer", new_customer_path %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/dealers">List all Dealer</a></li>
        <li><%= link_to "Add New Dealer", new_dealer_path %></li>
      </ul>
    </div>

    <div class="col-md-9 main white">

      <p id="notice"><%= notice %></p>

      <h1>Listing Customers</h1>

      <table class="table">
        <thead>
          <tr class="active">
            <th>First name</th>
            <th>Last name</th>
            <th>Address</th>
            <th>Contact</th>
            <th colspan="3">Action</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.first_name %></td>
              <td><%= customer.last_name %></td>
              <td><%= customer.address %></td>
              <td><%= customer.contact %></td>
              <td><%= link_to 'Show', customer, :class => "btn btn-default" %></td>
              <td><%= link_to 'Edit', edit_customer_path(customer), :class => "btn btn-default" %></td>
              <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Customer', new_customer_path %>
    </div>
  </div>
</div>