<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-center">Log in</h2>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name, class: 'form col-md-9 center-block')) do |f| %>
          <div class="input-group input-group-lg">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <%= f.email_field :email, autofocus: true, class: 'form-control', :placeholder => "Email address" %>
          </div>
          <br>
          <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
            </span>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', :placeholder => "Password"%>
          </div>

          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me, required: false, as: :boolean if devise_mapping.rememberable? %> Remember Me
            </label>
          </div>

           <div class="form-group">
            <%= f.submit "Login", class: "btn btn-primary btn-lg btn-block" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>