<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-2 sidebar white">
      <ul class="nav nav-sidebar">
        <li><%= link_to "List all Guitar", guitars_path %></li>
        <li><%= link_to "Add New Guitar", new_guitar_path %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><%= link_to "List all Purchase Order", purchase_orders_path %></li>
        <li><%= link_to "New Purchase", new_purchase_order_path %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><%= link_to "List all Customer", customers_path %></li>
        <li><%= link_to "Add Customer", new_customer_path %></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="active"><%= link_to "List all Dealer", dealers_path %></li>
        <li><%= link_to "Add New Dealer", new_dealer_path%></li>
      </ul>
    </div>

    <div class="col-md-9 main white">

      <p id="notice"><%= notice %></p>

      <h1><small>Listing Dealers</small></h1>

      <table class="table">
        <thead>
          <tr class="active">
            <th>Dealer name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Contact</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @dealers.each do |dealer| %>
            <tr>
              <td><%= dealer.dealer_name %></td>
              <td><%= dealer.address %></td>
              <td><%= dealer.email %></td>
              <td><%= dealer.contact %></td>
              <td><%= link_to 'Show', dealer %></td>
              <td><%= link_to 'Edit', edit_dealer_path(dealer) %></td>
              <td><%= link_to 'Destroy', dealer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Dealer', new_dealer_path %>
    </div>
  </div>
</div>
